{% extends "layout.html" %}
{% block pageContent %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Clases de Matematica</h6>
                  <h4>Primaria, E.S.O, Bachillerato<br>&amp; Universitaritarios</h4>
                  <p>Recibe tutoría de uno de nuestros profes.</p>
                  <a href="{{ url_for('contact') }}" class="filled-button">Necesito una clase</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Aprende a programar con</h6>
                  <h4>Proyectos reales<br>&amp; comerciales.</h4>
                  <p>Contruye juegos de preguntas y respuestas, programas de detección facial, bots de telegram y hasta entrena tu primer algoritmo de Machine Learning.</p>
                  <a href="{{ url_for('services') }}" class="filled-button">Apuntate ahora</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
           
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Clases de Inglés</h6>
                  <h4>Ayuda escolar<br>&amp; Preparación para exámenes internacionales.</h4>
                  <p>Preparate para exámenes internaciones o recibe apoyo escolar con clases personales.</p>
                  <a href="about.html" class="filled-button">Consulta ahora</a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <i class="fa fa-graduation-cap"></i><h4>Solicita una clase</h4>
            <span>Estaremos felices de ayudarte</span>
          </div>
          <div class="col-md-4">
            <a href="{{ url_for('contact') }}" class="border-button">Contactanos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Apoyo<em> Universitario y Escolar</em></h2>
              <span>Consigue un gran profe y mejora tu rendimiento académico</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/matematica.jpg" alt="">
              <div class="down-content">
                <h4>Matemáticas</h4>
                <p>Recibe apoyo escolar en matemáticas de primaria, E.S.O, bachillerato y universitario.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Consulta ahora</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/programacion.jpg" alt="">
              <div class="down-content">
                <h4>Programación</h4>
                <p>Recibe apoyo en tu proyecto o tarea de programación de la mano de un experimentado profe.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Consulta ahora</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/ingles.jpg" alt="">
              <div class="down-content">
                <h4>Inglés</h4>
                <p>Mejora tu inglés, pasa tus exámenes e incluso preparate para una certificación internacional con clases personalizadas.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Consulta ahora</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Cursos<em> Manos a la obra</em> Programación</h2>
              <span>Aprende conceptos, estructuras de datos y algoritmos con proyectos reales y comerciales</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/service_01.jpg" alt="">
              <div class="down-content">
                <h4>Detector de caras</h4>
                <p>En este curso creareis un script que procesará imagenes y recuadrará el rostro de las personas presentes en la imagen, aprendereis sobre listas, librerías, diccionarios y utilizareis una red neuronal para reconocer las caras.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Apuntate ahora</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <h4>Juego 2048</h4>
                <p>Este popular juego es un gran proyecto para aprender sobre bucles, estructuras de datos, lógica, Git control de versiones y muchos más.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Apuntate ahora</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="../static/assets/images/service_03.jpg" alt="">
              <div class="down-content">
                <h4>Juego de países y capitales</h4>
                <p>Diviertete creando un entretenido juego interactivo donde aprenderás sobre estructuras de datos, bucles, I/O y mucho más.</p>
                <a href="{{ url_for('contact') }}" class="filled-button">Apuntate ahora</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <!--<span>Lorem ipsum dolor sit amet</span>-->
              <h2>DATOS SOBRE<em> NOSOTROS</em></h2>
              <p>En nuestro rubro las personas lo son todo por eso seleccionamos a los mejores profes para incorporar a nuestros equipos de trabajo.</p>
             <!--<a href="" class="filled-button">Read More</a>-->
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">100</div>
                  <div class="count-title">Más de Horas de clases</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">8</div>
                  <div class="count-title">Estudiantes satisfechos</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">5</div>
                  <div class="count-title"><i class="fa fa-star"></i> Calificación</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1</div>
                  <div class="count-title">profe</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--  <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="../static/assets/images/more-info.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus<br><br>Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt</p>
                    <a href="#" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Lo que dicen de<em> nuestros profes</em></h2>
              <span>Reseñas de estudiantes</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Clara</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Trato excelente! Super agradable y muy dispuesto. :)</p>
                </div>
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Noelia</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Profesor altamente recomendable. Gran conocimiento en la materia y muy cercano al alumno. Muestra gran profesionalidad y se implica mucho en el proyecto del alumno.</p>
                </div>
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Luis Alejandro</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Muy buen profesional y muy flexible al ritmo de aprendizaje del alumno.</p>
                </div>
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>José Luis</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Excepcional profesor, muy implicado con el aprendizaje del alumno. </p>
                </div>
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Pablo</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Muy buena dedicación e implicación además de ser didáctico</p>
                </div>
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Juan Cruz</h4>
                  <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  <p>Excelente profe, con mucha predisposición.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Envianos<em> un mensaje</em></h2>
              <span>Estaremos felices de ayudarte.</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="{{ url_for('formSent') }}" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              <!--<div class="partner-item">
                <img src="../static/assets/images/client-01.png" title="1" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="../static/assets/images/client-01.png" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="../static/assets/images/client-01.png" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="../static/assets/images/client-01.png" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="../static/assets/images/client-01.png" title="5" alt="5">
              </div>-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}